.data
.venv
misc/
resources/ 
.env
data.ipynb
rag.ipynb
.secrets/
backend/.env
backend/.env.local
ocr/.data
ocr/structure_for_llm.ipynb
invoices_chroma_db/
frontend/node_modules/
**/__pycache__/
*.pyc
test.png
ocr/app/app_output.json
NEXT_TASKS.md
ocr/app/app_output.json
ocr/app/__pycache__/
